$bg-color: #282935;
$surface-color: #1e1f29;
$text-color: #ddd;
$primary-text-color: #c4a4ff;
$secondary-text-color: #aaaaaa;

$yellow: #ffe600;
$green: #40ca00;
$red: #ca0000;
$purple: rgba(140, 0, 255, 0.5);